/venv/
/env.py
/cnn_train_and_test_files/
/cnn_training_parameters/
/test_results/

/learning/cnn_testing_old.py
/learning/cnn_training_old.py
/learning/results_manager_old.py
/data/
/simulation/envset.txt